/* - BACKGROUND AND TEXT - */
body {font:12px courier; color:#000; margin:0; padding:0; }
a { color:#000; text-decoration:none; }
a:hover { background:#F4C8C5 none repeat scroll 0 0; color:#000; text-decoration:none; }


.background {
	z-index: 10;
	width:800em;
	height: auto;
	min-height:600px;
	margin-top:20px;
	padding:0;
	}

.nobackground {
	z-index: 10;
	width:900em;
	height: auto;
	min-height:600em;
	margin-top:20px;
	padding:0;
	font: 12px times new roman
		}


/* - WEBSITE MEASUREMENTS IN PX or EM - */
#global { width:900px; position:relative; margin-left:auto; margin-right:auto; text-align:left; }
#title { width:295px; position:absolute; margin:0; padding:0; }
#navigationbar { width:700px; margin-left:310px; margin-top:15px; padding-top:5px;}
#content { width:900px; margin-left:0; margin-top:30px; min-height:200px; }
#content2 { width:900px; margin-left:0; margin-top:80px; min-height:200px; }
#footer { clear:both; margin-top:1500px; padding:0; margin-bottom:20px; }
#topline { line-height: 1px; height: 3px; }

/* - NAVIGATION  - */
.menubar { margin: 0; padding:0; }
.menubar li { margin-right: 20px; line-height:22px; display:inline; float:left; }

/* - MENU INDEX PAGE - */
#content ul li { display:inline; margin:0; padding:0; }

/* - MENU INDEX IMAGES CATEGORY - */
.thumb {font-size: 10px; margin: 0 5px 5px 0; padding:10px; float:left; width:200px;}
.thumb2 {font-size: 10px; margin: 0 10px 10px 0; padding:5px; float:left; width:150px;}
.thumb3 {font-size: 10px; margin: 0 10px 10px 0; padding:5px; float:left; width:200px;}
.thumb img { max-height:200px; max-width: 200px; }
.thumb2 img { max-height:150px; max-width: 150px; }
.thumb3 img { max-height:250px; max-width: 320px; }
.undertheimage { margin-top: 0%; margin-left: 0%; background:#EBECE4;}
.thumb img:hover {border:0px solid #000000;}

/* - MENU INDEX IMAGES CATEGORY - */
.postthumb1 {margin: 0 10px 25px 0; padding:0;float:left;}
.postthumb1 img { max-height:200px; max-width: 200px; }
.undertheimage { margin-top: 0%; text-align:center; margin-left: 0%; background:#FFF;}
.postthumb1 img:hover {border:0px solid #000000;}





html {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    min-height: 100%;
    height: 100%;
}

.box {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    cursor: pointer;
}

h1 {
	color: black;
}

#footer {
		position: absolute;
    bottom:0;
		right: 0;
		left: 0;
		top:0;
}


#box-2 {
    left: 8em;
    top: 16em;
}

#box-3 {
    top: 8em;
    left: 56em;
}

#box-4 {
	left: -70em;
	top: 55em;
}

#box-5 {
    top: -3em;
    left: 55em;
}

#box-6 {
    top: 50em;
    left: -40em;
}

#box-7 {
    top: 55em;
    left: -10em;
}

#box-8 {
    top: -3em;
    left: 35em;
}

#box-9 {
    top: 50em;
    left: -30em;
}

#box-10 {
    top: 64em;
    left: -7em;
}

#box-11 {
    top: -5em;
    left: 58em;
}
